@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using MyCOLL.RCL.Auth
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3">Olá, <strong>@context.User.Identity?.Name</strong>! 👋</span>
                    <button class="btn btn-link" @onclick="Logout">Sair</button>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Register" class="me-3">Registar</a>
                    <a href="Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    // CORREÇÃO: Voltamos a usar async Task e await
    private async Task Logout()
    {
        // Precisamos do await porque o método na AuthProvider invoca o JavaScript
        await ((CustomAuthStateProvider)AuthStateProvider).MarkUserAsLoggedOut();

        // Redireciona para a página inicial garantindo que o estado foi limpo
        Nav.NavigateTo("/", forceLoad: true);
    }
}