@using MyCOLL.RCL.Auth
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyCOLL Gestão</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').checked = false">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Início
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Admin/Produtos/Pendentes">
                        <span class="bi bi-shield-check-fill" aria-hidden="true"></span> Aprovar Produtos
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categorias">
                        <span class="bi bi-list-ul" aria-hidden="true"></span> Categorias
                    </NavLink>
                </div>

                <hr class="text-white-50 mx-3" />

                <div class="nav-item px-3">
                    <button class="nav-link btn btn-link w-100 text-start" @onclick="FazerLogout">
                        <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Sair (@context.User.Identity?.Name)
                    </button>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Entrar
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private async Task FazerLogout()
    {
        // Fazemos o cast para o teu Provider customizado para aceder ao método de Logout
        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;

        // Limpa o token do localStorage e da memória
        await customAuthStateProvider.MarkUserAsLoggedOut();

        // Redireciona para a página de login
        Navigation.NavigateTo("/login");
    }
}