.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

/* REGRAS PARA MOBILE (Ecrãs pequenos) */
@media (max-width: 640.98px) {
    .collapse {
        /* Esconde o menu se tiver a classe collapse */
        display: none;
    }

        .collapse.show {
            display: block;
        }
}

/* REGRAS PARA DESKTOP (Ecrãs grandes) */
@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Em desktop mostra sempre, ignorando o collapse */
        display: block !important;
    }

    .nav-scrollable {
        display: block !important;
    }
}
